body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

/*
  Header styling added
*/
#sub-title {
  display: inline-block;
  padding-left: 0.5em;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  /* float: left; */
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  line-height: 21px;
}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skills-h3 {
  display: none;
}

/*
  Color ideas from
  http://www.colourlovers.com/palette/656966/Koi_Carp
  removed colors from other tags and classes
  and put below
*/
#container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.box {
  max-width: 30%;
}

#header {
  padding-top: 2.5em;
}

#location {
  position: fixed;
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.highlight-color-1 {
  color: #fa2a00;
}

.highlight-color-2 {
  color: #86b8b1;
}

hr {
 border-color: #fa2a00;
}

a,
b
 {
  color: #fa2a00;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.background-color-dark {
  background-color: #3d1c00;
}

.background-color-light {
  background-color: #f3f3f3;
  padding: 1em 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}



#skills {
  flex-direction: column;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
  max-width: 250px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

  .box {
    max-width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }

  /*
    change the way the flexbox behaves on smaller screens
  */
  #skills {
    flex-direction: row;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
